.container {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.container .navbar h1 {
    padding: 20px;
}

.navbar {
    padding: 10px;
}
.navbar h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 3.0em;
    
}

.navbar h4 {
    font-family: 'Josefin Sans', sans-serif;
}



.navbar ul {
    display: block;
    list-style: none;
    padding-top: 2em;
}

.navbar li {
    display: inline;
    padding: 1em;
    font-family: 'Josefin Sans', sans-serif;
}

#navlink {
    text-decoration: none;
    color: black;
}

#active_nav {
    border-bottom: 3px solid black;
}

#footnotes {
    text-align: center;
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
    
}
.col {
    margin: 2em;
    border-radius: 50px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    transition: transform 0.7s ease;
}

#kap:hover {
    transform: translate(0px, -5px);
}

#inv:hover {
    transform: translate(0px, -5px);    
}

#mdin:hover {
    transform: translate(0px, -5px);    
}


#name {
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

#name h1 {
    padding-bottom: 5px;
    margin-bottom: 2px;
    font-weight: normal;
}

#kap {
    background: linear-gradient(to bottom right, #FFA1F6,#9E45F7);
    text-decoration: none;
    text-decoration-color: white;
}

#inv {
    background: linear-gradient(to bottom right, #69D1A5, #477AFC);
    text-decoration: none;
}

#mdin {
    background: linear-gradient(to bottom right, #91E1FA, #2C28FA);
    text-decoration: none;
}

.demo {
    min-height: 600px;
    min-width: 100px;
    text-align:center;
    text-decoration: none;
}

.demo img {
    margin: auto;
    display: block;
}

.block {
    min-height: 210px;
}

.demo h5 {
    color: #F0F0F0;
    margin-top: 150px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

.demo h6{
    color: #F0F0F0;
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

#projects {
    border-bottom: 2px solid black;
    padding-bottom: 3em;
}

#social {
    margin-left: 8em;
    margin-right: 8em;
}

.item {
    margin: 0 auto;
    display: inline;
    padding-top: 2em;
    padding-bottom: 2em;
}

#poster_boy_image {
    margin: 0 auto;
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 20px;
}

.container h3 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 40px;
}

.text {
    padding: 15px;
    margin-right: 15em;
    margin-left: 15em;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.text2 {
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding-top: 30px;
}

.text2 h5 {
    font-weight: bold;
}

#lang {
    font-size: 25px;
    margin-left: 12em;
    margin-right: 12em;
    padding-bottom: 12px;
    border-bottom: 2px solid black;
}

.headline {
    background: linear-gradient(to bottom right, #FFA1F6,#9E45F7);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 25px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.headline h1 {
    color: white;
    font-size: 4em;
}

.headline h3 {
    color: white;
}

.headline .container {
    padding: 50px;
    padding-top: 8em;
    padding-bottom: 2em;
}

.container h2 {
    font-family: 'Josefin Sans', sans-serif;    
    text-align: center;
    padding: 10px;
    margin-top: 2em;
}

.item {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;    
}

@media only screen and (max-width: 768px) {
    /*For mobile*/

    /*Nav-bar Fixes*/
    #name {
        text-align: center;
        padding: 0;
        margin: 0 auto;
        font-size: 14px;
    }

    .navbar ul {
        padding: 0;
        font-size: 15px;
        margin: 0 auto;
        padding-top: 2em;
    }

    /*About Page Fixes */
    #poster_boy_image {
        display: none;
    }
    
    .text {
        padding: 15px;
        text-align: center;
        margin: 0;
    }

    #lang {
        margin: 0;
        
    }

    #resume {
        display: none;
    }

}
