.container {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.container .navbar h1 {
    padding: 20px;
}

.navbar {
    padding: 10px;
}
.navbar h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 3.0em;
    
}

.navbar h4 {
    font-family: 'Josefin Sans', sans-serif;
}



.navbar ul {
    display: block;
    list-style: none;
    padding-top: 2em;
}

.navbar li {
    display: inline;
    padding: 1em;
    font-family: 'Josefin Sans', sans-serif;
}

#navlink {
    text-decoration: none;
    color: black;
}

#active_nav {
    border-bottom: 3px solid black;
}

#name {
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

#name h1 {
    padding-bottom: 5px;
    margin-bottom: 2px;
    font-weight: normal;
}


#footnotes {
    text-align: center;
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
    
}

#social {
    margin-left: 8em;
    margin-right: 8em;
}

.item {
    margin: 0 auto;
    display: inline;
    padding-top: 2em;
    padding-bottom: 2em;
}

.headline {
    background: linear-gradient(to bottom right, #FFA1F6,#9E45F7);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 25px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.headline h1 {
    color: white;
    font-size: 4em;
    text-align: center;
    margin: auto;
}

.headline h3 {
    color: white;
    text-align:Center;
}

.headline .container {
    padding: 50px;
    padding-top: 8em;
    padding-bottom: 4em;
    margin: auto;
}

.container h2 {
    font-family: 'Josefin Sans', sans-serif;    
    text-align: center;
    padding: 10px;
    margin-top: 1.2em;
}

#art {
    text-align: center;
    margin-top: 2em;
    padding-right: 0;
    padding-left: 0;
}

#art img {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);    
}

#art_text {
    font-family: 'Josefin Sans',sans-serif;
    margin: 2em;
    margin-top: 2em;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
    margin-right: 0;
}

#squeeze {
    margin-left: 12em;
    margin-right: 12em;
}

.white_back .container {
    padding-bottom: 3em;
    font-family: 'Josefin Sans',sans-serif;
}

.grey_back {
    background-color: #EAECEE;
}

.grey_back .container {
    padding-top: 1.7em;
}
#team_member {
    text-align: center;
}

#team_member img {
    border-radius: 50%;
}

#team_member h4 {
    padding: 5px;
    padding-top: 10px;
}

#team_info {
    padding-bottom: 6em;
    font-family: 'Josefin Sans',sans-serif;
}

#underline {
    padding: 1em;
    border-bottom: 2px solid black;
}

#chal {
    text-align: center;
    font-family: 'Josefin Sans',sans-serif;
    padding: 10px;
}


#kap_button {
    background: linear-gradient(to bottom right, #FFA1F6,#9E45F7);
    margin-right: 40%;
    margin-left: 40%;    
    text-align: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);    
    margin-top: 2em;  
    transition: transform 0.7s ease;
    border-radius: 20px;
    text-decoration: none;
}

#kap_button:hover {
    transform: translate(0px, -5px);
}
#kap_button h6 {
    color: white;
    padding: 10px;
    text-decoration: none;
}

#extend {
    padding-bottom: 4em;
    margin-bottom: 4em;
    text-align: center;
}

.headline2 {
    background: linear-gradient(to bottom right, #69D1A5, #477AFC); 
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;  
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);   
    margin-top: 25px;          
}

.headline3 {
    background: linear-gradient(to bottom right, #91E1FA, #2C28FA);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    margin-top: 25px;
}

.headline3 h1 {
    color: white;
    font-size: 4em;
}

.headline3 .container {
    padding: 50px;
    padding-top: 8em;
    padding-bottom: 4em;
    margin: auto;
}

.headline3 h3 {
    color: white;
}

.headline2 h1 {
    color: white;
    font-size: 4em;
}

.headline2 .container {
    padding: 50px;
    padding-top: 8em;
    padding-bottom: 4em;
    margin: auto;
}

.headline2 h3 {
    color:white;
}

#inv_text {
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    margin-bottom: 10em;
    text-align: center;
}

.white_back .container {
    text-align: center;
}

.info_text {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 80px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
}

#g_suite_img {
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    margin-top: -2em;    
}

.space {
    min-height: 40px;
}

#g_suite_button {
    background: linear-gradient(to bottom right, #91E1FA, #2C28FA);
    margin-right: 40%;
    margin-left: 40%;    
    text-align: center;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);    
    margin-top: 2em;  
    transition: transform 0.7s ease;
    border-radius: 20px;
    text-decoration: none;
}

#g_suite_button:hover {
    transform: translate(0px, -5px);
}
#g_suite_button h6 {
    color: white;
    padding: 10px;
    text-decoration: none;
}

#scripting_img {
    margin: 0 auto;
    text-align: center;
    align-content: center;
    margin-top: -2em;
}

#bottom_border {
    margin-top: 3em;
    border-bottom: 1px solid black;
}

#resume {
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

#res_button {
    display: none;
}

@media only screen and (max-width: 768px) {
    /*For mobile*/

      /*Nav-bar Fixes*/
      #name {
        text-align: center;
        padding: 0;
        margin: 0 auto;
        font-size: 14px;
    }

    .navbar ul {
        padding: 0;
        font-size: 15px;
        margin: 0 auto;
        padding-top: 2em;
    }

    /*About Page Fixes */
    #poster_boy_image {
        display: none;
    }
    
    .text {
        padding: 15px;
        text-align: center;
        margin: 0;
    }

    #lang {
        margin: 0;
    }

    #art {
        display: none;
    }

    #art_text {
        margin: 0 auto;
        padding: 0;
    }

    #squeeze {
        margin: 0 auto;
    }

    #kap_button {
        margin-right: 20%;
        margin-left: 20%;
    }

    .headline h1 {
        font-size: 3em;
        
    }

    #resume {
        display: none;
    }

    #res_button {
        display: block;
        background: black;
        margin-right: 20%;
        margin-left: 20%;    
        text-align: center;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);    
        margin-top: 2em;  
        transition: transform 0.7s ease;
        border-radius: 20px;
        text-decoration: none;
        border-radius: 20px;
    }

    #res_button h6{
    color: white;
    }

    .info_text {
        padding-left: 0;
        padding-right: 0;
    }

    #g_suite_img {
        display: none;
    }

    #g_suite_button {
        margin-left: 20%;
        margin-right: 20%;
    }
}